---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import teaImage from '../../assets/tea/main.png';

const base = import.meta.env.BASE_URL;
const posts = (await getCollection('tea')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`Tea - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child {
				width: 100%;
				margin-bottom: 1rem;
				text-align: center;
			}
			ul li:first-child img {
				width: 100%;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<div style="text-align: center; margin-bottom: 2rem;">
				<h1>Let's Drink Some Tea</h1>
				<Image src={teaImage} alt="Me" width={600} height={600} style="border-radius: 12px;" />
				<p style="text-align: left; text-indent: 1.5em;">
					Without even realizing it, tea has played an important role throughout my entire life. For as long as I can remember, it has been a symbol of family unity, the comfort of home, and the warmth of good times with friends. Even during the hardest financial times, tea was one of the last things to disappear from the kitchen shelf.

					I still remember my grandmother's old tin box decorated with an elephant and exotic plants. Just thinking about it brings back a flood of joyful memories.

					As I grew older, I became more conscious and curious about this magical drink that had accompanied me every evening without much thought. This blog is my attempt to share what I've learned about tea since then — and to offer a heartfelt tribute to it.
				</p>

			</div>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`${base}tea/${post.id}/`}>
									{post.data.heroImage && (
										<Image width={720} height={360} src={post.data.heroImage} alt="" />
									)}
									<h5 class="title">{post.data.title}</h5>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>




